@import 'style.css';

.container{
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: 15vh auto auto 15vh;
    grid-template-areas: 
    "hd"
    "post"
    "mp"
    "ft";
}

@media(min-width: 1150px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 15vh auto 15vh;
        grid-template-areas: 
        "hd hd"
        "post mp"
        "ft ft";
    }
}

h4{
    text-decoration: underline;
}

.header{
    font-size: 2vh;
}

.h1{
    font-size: 3vh;
}

.post{
    grid-area: post;
}

.media-player{
    grid-area: mp;
}

.media-content{
    font-size: 10px;
    color: #7A3939;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Merriweather,sans-serif;
    font-weight: 100;
    padding-top: 3vh;
    padding-bottom: 1.5vh;
}

.media-content a{
    font-size: 1.4rem;
    color: #7A3939;
    text-decoration: none;
}

.media-content a:hover{
    color: #000000;
    letter-spacing: 0;
}

iframe{
    width: 90%;
    height: 0.9fr;
}

.author{
    display: inline-flex;
    line-height: 1.1em;
}

.author-info{
    text-align: left;
}