@import 'style.css';

.container{
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: 15vh auto auto 15vh;
    grid-template-areas: 
    "hd"
    "post"
    "mp"
    "ft";
}

@media(min-width: 1150px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 15vh auto 15vh;
        grid-template-areas: 
        "hd hd"
        "post mp"
        "ft ft";
    }
}

.header{
    font-size: 2vh;
}

.h1{
    font-size: 3vh;
}

.post{
    grid-area: post;
}

.media-player{
    grid-area: mp;
}

.media-content{
    font-size: 10px;
    color: #7A3939;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Merriweather,sans-serif;
    font-weight: 100;
}

.media-content a{
    font-size: 1.5rem;
    color: #7A3939;
    text-decoration: none;
}

iframe{
    width: 90%;
    height: 0.9fr;
}

.post header{
    display: grid;
    grid-template-areas: 
    "hd hd"
    "by date";
}

.post header h1{
    grid-area: hd;
    margin-left: 2rem;
}

.post header p{
    margin-left: 1rem;
}

.author{
    grid-area: by;
}

.date{
    grid-area: date;
}