.navbar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    grid-template-areas:
    "hd"
    "pst"
    "sm sm";
    grid-area: sd;
}

.nav-list{
    padding-inline-start: 0px;
}

.nav-item{
    list-style: none;
    text-decoration: none;
}

.navbar a:hover{
    letter-spacing: 0;
}